<template>
  <div class="hello">
    <input type="email" v-model="user">
    <hr>
    <input type="password" name="" v-model="pass">
    <input type="button" value="Validar" @click="entrar">
  </div>

</template>

<script>
import axios from 'axios'
export default {
  name: 'Login',
  props: {
    msg: String
  },
  data() {
    return {
      user: '',
      pass: ''
    }
  },
  methods:{
    async entrar(){
      axios.post('http://localhost:5001',{
        user: this.user,
        pass: this.pass
      }).then(res=>{
        if(res.data.status=='Ok'){
          this.$router.push('/user')
        }else{
          alert('Usuario o contraseña incorrectos')
        }
      }).catch(err=>{
        console.log(err)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
